<h1>Book Form Validation</h1>
<div class="book-container">
<form [formGroup]="form">
  <div>
    <label>Book Name</label>
    <input type="text" id="Book_Name" placeholder="Enter Book Name" formControlName="Book_Name"/>
    @if (form.get('Book_Name')?.invalid && form.get('Book_Name')?.touched){
      <div class="invalid-feedback">Book Name is Required</div>
    } 
  </div>
  <div>
    <label>Author</label>
    <input type="text" id="Author" placeholder="Enter Author Name" formControlName="Author"/>
    @if (form.get('Author')?.invalid && form.get('Author')?.touched){
      <div class="invalid-feedback">Author is Required</div>
    } 
  </div>
  <div>
    <label>Price</label>
    <input type="number" id="Price" placeholder="Enter Book Price" formControlName="Price"/>
    @if (form.get('Price')?.invalid && form.get('Price')?.touched){
      <div class="invalid-feedback">Price is Required</div>
    } 
  </div>
  <div>
    <label>Genre</label>
    <input type="text" id="Genre" placeholder="Enter Book Genre" formControlName="Genre"/>
    @if (form.get('Genre')?.invalid && form.get('Genre')?.touched){
      <div class="invalid-feedback">Genre is Required</div>
    } 
  </div>
  <div>
    <label>Published Date</label>
    <input type="date" id="Published Date" placeholder="Enter Published Date" formControlName="Published_Date"/>
    @if (form.get('Published Date')?.invalid && form.get('Published Date')?.touched){
      <div class="invalid-feedback">Published Date is Required</div>
    } 
  </div>
  <div>
    <label>Country</label>
    <input type="text" id="Country" placeholder="Enter Country" formControlName="Country"/>
    @if (form.get('Country')?.invalid && form.get('Country')?.touched){
      <div class="invalid-feedback">Country is Required</div>
    } 
  </div>
  <div>
    <label>Description</label>
    <input type="text" id="Description" placeholder="Enter Book Description" formControlName="Description"/>
    @if (form.get('Description')?.invalid && form.get('Description')?.touched){
      <div class="invalid-feedback">Description is Required</div>
    } 
  </div>
    <button type="submit" (click)="submit()">Submit</button>
</form>
</div>